body,
html {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
}

.wrapper {
  max-width: 1740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1295px;
  margin: 0 auto;
}

.top-line {
  position: fixed;
  z-index: 4;
  width: 100%;
  top: 0;
  left: 0;
}
.top-line ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.top-line .top-line__body {
  background-color: #ffffff;
  max-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.top-line .top-line__logo {
  border-left: 1px solid #c4c4c4;
  max-width: 240px;
  padding: 0 25px;
}
.top-line .top-line__logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.top-line .top-line__body_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}
.top-line .top-line__items {
  border-left: 1px solid #c4c4c4;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 21%;
          flex: 0 1 21%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 90px;
}
.top-line .top-line__items:last-child {
  padding: 0;
}
.top-line .top-line__items_text {
  font-size: 16px;
  line-height: 19px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}
.top-line .top-line__items_sallons {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 210px;
          flex: 0 0 210px;
  padding: 0;
}
.top-line .top-line__subItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.top-line .top-line__subItems:after {
  content: "";
  position: absolute;
  top: 15px;
  right: -5px;
  background-color: #4fbfa5;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  z-index: 1;
}
.top-line .top-line__saloons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-line .top-line__saloons img {
  height: 8px;
  width: 8px;
  z-index: 2;
}
.top-line .top-line__items_button {
  max-width: 400px;
}
.top-line .top-line__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 40px;
  width: 270px;
  background-color: #00868a;
  padding: 0 15px;
}
.top-line .top-line__button .top-line__button_text {
  padding-bottom: 3px;
  color: #ffffff;
}
.top-line .top-line__items_icons {
  max-width: 400px;
}
.top-line .top-line__social_list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
}
.top-line .top-line__social_list .social-icon__item {
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75px;
          flex: 0 0 75px;
  border-right: 1px solid #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-screen {
  margin-top: 82px;
  max-height: 700px;
  background-color: #4fbfa5;
}
.first-screen .first-screen__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first-screen .navigation__panel_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.first-screen .navigation__panel_list li {
  list-style: none;
  margin: 15px 5px 15px 30px;
}
.first-screen .navigation__panel_list li a {
  text-decoration: none;
}
.first-screen .navigation__panel_link {
  color: #ffffff;
  font-size: 16px;
  line-height: 150%;
}
.first-screen .navigation__panel_button {
  position: relative;
  top: 0px;
  right: 10px;
  max-width: 175px;
  max-height: 40px;
  background-color: #ffffff;
  text-align: center;
  padding: 10px 10px;
  cursor: pointer;
}
.first-screen .navigation__panel_button-link {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  margin: auto;
}
.first-screen .first-screen__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.first-screen .first-screen__discription {
  margin-top: 163px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  max-width: 416px;
  max-height: 266px;
}
.first-screen .first-screen__discription .discription__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 266px;
          flex: 0 1 266px;
  color: #ffffff;
  padding: 0 35px 0 0;
}
.first-screen .first-screen__discription .discription__header {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  font-size: 24px;
  line-height: 150%;
}
.first-screen .first-screen__discription .discription__text {
  font-size: 14px;
  line-height: 150%;
}
.first-screen .first-screen__discription .discription__button {
  background-color: #00868a;
  position: absolute;
  left: 0;
  top: 218px;
  max-height: 50px;
  width: 163px;
  cursor: pointer;
  text-align: center;
  padding: 15px 25px;
}
.first-screen .first-screen__discription .discription__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
.first-screen .first-screen__slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 533px;
  text-decoration: none;
}
.first-screen .first-screen__slider .first-screen__slider_image {
  max-width: 746px;
  max-height: 533px;
  min-height: 465px;
  min-width: 410px;
  overflow: hidden;
}
.first-screen .first-screen__slider .first-screen__slider_image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.first-screen .first-screen__slider .slider__button {
  position: absolute;
  bottom: 40px;
  left: -145px;
}
.first-screen .first-screen__slider .slider__button-left,
.first-screen .first-screen__slider .slider__button-right {
  display: inline-block;
  background-color: #4fbfa5;
  padding: 25px 25px;
  max-height: 50px;
  max-width: 60px;
  border: 1px solid #ffffff;
  position: relative;
}
.first-screen .first-screen__slider .slider__button-left span,
.first-screen .first-screen__slider .slider__button-right span {
  content: " ";
  height: 1px;
  width: 25px;
  background-color: #ffffff;
  position: absolute;
  top: 24px;
  left: 13px;
}
.first-screen .first-screen__slider .slider__button-left:before {
  content: " ";
  height: 1px;
  width: 7px;
  background-color: #ffffff;
  position: absolute;
  top: 26px;
  left: 12px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.first-screen .first-screen__slider .slider__button-left:after {
  content: " ";
  height: 1px;
  width: 7px;
  background-color: #ffffff;
  position: absolute;
  top: 22px;
  left: 12px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.first-screen .first-screen__slider .slider__button-right:before {
  content: " ";
  height: 1px;
  width: 7px;
  background-color: #ffffff;
  position: absolute;
  top: 26px;
  right: 11px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.first-screen .first-screen__slider .slider__button-right:after {
  content: " ";
  height: 1px;
  width: 7px;
  background-color: #ffffff;
  position: absolute;
  top: 22px;
  right: 11px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.first-screen .first-screen__footer {
  max-height: 81px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}
.first-screen .first-screen__footer .footer__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  height: 100%;
}
.first-screen .first-screen__footer .footer__text-complex {
  padding: 15px 0px;
  background-color: #00868a;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 255px;
}
.first-screen .first-screen__footer .footer__text-center {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 324px;
          flex: 0 1 324px;
  padding: 15px 0px;
  min-width: 170px;
}
.first-screen .first-screen__footer .footer__text-vip-clients {
  background-color: #00868a;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 324px;
          flex: 0 1 324px;
  padding: 15px 0px;
  min-width: 170px;
}

.innovations {
  background-color: #ffffff;
  margin-top: 80px;
}
.innovations .innovations__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.innovations .innovation__items_left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 526px;
          flex: 0 1 526px;
  max-height: 580px;
  background-color: #00868a;
  color: #ffffff;
}
.innovations .innovation__items_left .innovation__topLine_left {
  background-color: #4fbfa5;
  max-height: 40px;
  max-width: 125px;
  margin: 35px 0 0 40px;
  padding: 11px 0;
}
.innovations .innovation__items_left .innovation__topLine_left a {
  text-decoration: none;
}
.innovations .innovation__items_left .innovation__topLine_left .topLine__button_left {
  font-size: 16px;
  padding: 0px 15px;
  color: #ffffff;
}
.innovations .innovation__items_left .innovation__items_header {
  font-size: 30px;
  line-height: 45px;
  margin: 30px 0 0 40px;
}
.innovations .innovation__items_left .innovation__downLine_body {
  margin: 25px 0 0 40px;
  max-height: 40px;
  max-width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.innovations .innovation__items_left .downLine_button {
  display: inline-block;
  background-color: #00868a;
  padding: 19px 24px;
  max-height: 40px;
  max-width: 50px;
  border: 1px solid #ffffff;
  position: relative;
}
.innovations .innovation__items_left .downLine_button span {
  content: " ";
  height: 1px;
  width: 25px;
  background-color: #ffffff;
  position: absolute;
  top: 19px;
  left: 13px;
}
.innovations .innovation__items_left .downLine_button:before {
  content: " ";
  height: 1px;
  width: 7px;
  background-color: #ffffff;
  position: absolute;
  top: 22px;
  right: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.innovations .innovation__items_left .downLine_button:after {
  content: " ";
  height: 1px;
  width: 7px;
  background-color: #ffffff;
  position: absolute;
  top: 17px;
  right: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.innovations .innovation__items_left .downLine_text {
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
}
.innovations .innovation__items_left .innovation__downImage {
  max-width: 526px;
  margin-top: 45px;
  max-height: 230px;
  overflow: hidden;
}
.innovations .innovation__items_left .innovation__downImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px -65px;
     object-position: 0px -65px;
}
.innovations .innovation__items_right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 636px;
          flex: 0 1 636px;
  position: relative;
}
.innovations .innovation__items_right .innovation__topLine_right {
  background-color: #4fbfa5;
  max-height: 40px;
  max-width: 186px;
  margin: 30px 0 0 0px;
  padding: 11px 0;
}
.innovations .innovation__items_right .innovation__topLine_right a {
  text-decoration: none;
}
.innovations .innovation__items_right .innovation__topLine_right .topLine__button_right {
  font-size: 16px;
  padding: 0px 15px;
  color: #ffffff;
}
.innovations .innovation__items_right .innovation__declaration .declaration__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 3;
}
.innovations .innovation__items_right .innovation__declaration .declaration__list li {
  list-style: none;
}
.innovations .innovation__items_right .innovation__declaration .declaration__list .declaration__list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 35px;
}
.innovations .innovation__items_right .innovation__declaration .declaration__list .declaration__list_number {
  max-height: 72px;
  max-width: 50px;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
  opacity: 0.3;
}
.innovations .innovation__items_right .innovation__declaration .declaration__list .declaration__list_number_large {
  font-size: 96px;
  color: #00868a;
  max-height: 144px;
  max-width: 111px;
  opacity: 1;
}
.innovations .innovation__items_right .innovation__declaration .declaration__list .declaration__list_item_text {
  padding-left: 20px;
  max-width: 164px;
  max-height: 42px;
  font-size: 14px;
  line-height: 150%;
  opacity: 0.3;
}
.innovations .innovation__items_right .innovation__declaration .declaration__list .declaration__list_item_text_large {
  padding-left: 30px;
  max-width: 319px;
  max-height: 84px;
  font-size: 24px;
  line-height: 150%;
  opacity: 1;
}
.innovations .declaration__image {
  position: absolute;
  top: 86px;
  right: 21px;
  max-width: 306px;
  max-height: 400px;
  z-index: 1;
}

.news {
  max-height: 684px;
  background-color: #ffffff;
}
.news .news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  max-height: 504px;
}
.news .news__items_left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 526px;
          flex: 0 1 526px;
  background-color: #4fbfa5;
  color: #ffffff;
}
.news .item__button {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-height: 40px;
  max-width: 101px;
  margin: 35px 0 30px 40px;
  background-color: #00868a;
  padding: 10px 5px;
  text-align: center;
}
.news .item__button a {
  text-decoration: none;
  font-size: 18px;
  line-height: 21.19px;
  color: #ffffff;
}
.news .item__middle {
  background-color: #00868a;
  padding: 35px 40px;
}
.news .news__items_right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 770px;
          flex: 0 1 770px;
  background-color: rgba(0, 134, 138, 0.1);
}
.news .item__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 40px;
  max-height: 248px;
}
.news .item__bottom p {
  padding: 44px 0 42px 0;
  margin: 0;
}
.news .item__header {
  margin: 35px 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
}
.news .item__list {
  margin: 0 60px 0 34px;
}
.news .item__list li::marker {
  font-size: 20px;
  color: #00868a;
}
.news .item__main-list {
  font-size: 14px;
  line-height: 21px;
}

.offers {
  max-height: 556px;
  margin-top: 100px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, rgba(0, 134, 138, 0.1)), to(white));
  background: linear-gradient(to bottom, rgba(0, 134, 138, 0.1) 35%, white 100%);
  height: 100%;
}
.offers .offers__header {
  text-align: center;
  margin-top: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  font-size: 48px;
  line-height: 72px;
}
.offers .offers__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.offers .cards__items {
  display: block;
  height: 343px;
  max-width: 306px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  position: relative;
}
.offers .items__image {
  max-width: 306px;
  max-height: 230px;
}
.offers .items__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.offers .items__top_button {
  position: absolute;
  max-height: 40px;
  max-width: 148px;
  background-color: #4fbfa5;
  padding: 11px 14px;
  top: 31px;
  left: 30px;
}
.offers .items__top_button a {
  text-decoration: none;
  color: #ffffff;
}
.offers .items__bottom {
  background-color: #00868a;
  max-height: 114px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offers .items__bottom_text {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  color: #ffffff;
  max-width: 181px;
  max-height: 64px;
  line-height: 31.5px;
  font-size: 16px;
}
.offers .items__bottom_text p {
  margin: 0;
}
.offers .items__down_button {
  display: inline-block;
  background-color: #00868a;
  padding: 19px 24px;
  max-height: 40px;
  max-width: 50px;
  border: 1px solid #ffffff;
  position: relative;
}
.offers .items__down_button span {
  content: " ";
  height: 1px;
  width: 25px;
  background-color: #ffffff;
  position: absolute;
  top: 19px;
  left: 13px;
}
.offers .items__down_button:before {
  content: " ";
  height: 1px;
  width: 7px;
  background-color: #ffffff;
  position: absolute;
  top: 22px;
  right: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.offers .items__down_button:after {
  content: " ";
  height: 1px;
  width: 7px;
  background-color: #ffffff;
  position: absolute;
  top: 17px;
  right: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.last-line {
  max-height: 392px;
  height: 100%;
  margin-top: 70px;
}
.last-line .last-line__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.last-line .last-line__ref-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.last-line .last-line__ref-column ul {
  margin: 0;
  padding: 0;
}
.last-line .last-line__ref-column li {
  list-style: none;
  padding: 12px 0 0 0;
  font-size: 14px;
  line-height: 21px;
}
.last-line .last-line__ref-column h3 {
  margin: 15px 0;
}
.last-line .last-line__ref-list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.last-line .last-line__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  margin-top: 20px;
}
.last-line .contact__phone p,
.last-line .contact__address p {
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.5;
}
.last-line .contact__phone h6,
.last-line .contact__address h6 {
  font-size: 21px;
  line-height: 31.5px;
  font-weight: bold;
  margin: 0;
}
.last-line .contact__address {
  margin-top: 30px;
}
.last-line .contact__button {
  display: inline-block;
  background-color: #00868a;
  max-width: 164px;
  max-height: 45px;
  margin-top: 15px;
}
.last-line .contact__button p {
  padding: 13px 18.7px;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer {
  margin-top: 80px;
  max-height: 100px;
  height: 100%;
}
.footer .footer__nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0;
}
.footer .footer__nav_items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  border-left: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
}
.footer .footer__nav_large {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
  font-size: 12px;
  line-height: 18px;
  padding: 10px 25px 10px 25px;
}
.footer .footer__nav_center {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 210px;
          flex: 0 1 210px;
  font-size: 12px;
  line-height: 18px;
  padding: 28px 25px 20px 25px;
}
.footer .footer__nav_button {
  padding: 30px 15px 20px 15px;
  max-width: 280px;
}
.footer .footer__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 40px;
  width: 260px;
  background-color: #00868a;
  padding: 0 10px;
}
.footer .footer__button .footer__button_text {
  padding-bottom: 3px;
  color: #ffffff;
  font-size: 14px;
  line-height: 16.48px;
  text-transform: uppercase;
}
.footer .footer__nav_items_icons {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.footer .footer__social_list {
  list-style: none;
  border-right: 1px solid #c4c4c4;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.footer .footer__social_item {
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75px;
          flex: 0 0 75px;
  border-right: 1px solid #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__social_item:last-child {
  border-right: none;
}

@media (max-width: 1295px) {
  .top-line__body {
    position: relative;
  }

  .top-line__headerBurger {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 3;
    right: 15px;
    top: 15px;
  }
  .top-line__headerBurger span {
    content: "";
    position: absolute;
    top: 15px;
    right: 3px;
    height: 2px;
    width: 25px;
    background-color: #00868a;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .top-line__headerBurger:after {
    position: absolute;
    content: "";
    top: 25px;
    right: 3px;
    height: 2px;
    width: 25px;
    background-color: #00868a;
  }
  .top-line__headerBurger:before {
    position: absolute;
    content: "";
    top: 5px;
    right: 3px;
    height: 2px;
    width: 25px;
    background-color: #00868a;
  }

  .top-line__headerBurger.active::before {
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 0.8);
    height: 180px;
    top: -10;
    right: -7px;
    width: 1300px;
    z-index: 4;
  }
  .top-line__headerBurger.active span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 20px;
    right: 3px;
    z-index: 4;
  }
  .top-line__headerBurger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 20px;
    right: 3px;
    z-index: 4;
  }

  .top-line {
    max-height: 70px;
    height: 100%;
  }

  .top-line__logo {
    border: none;
    margin-top: 5px;
    z-index: 5;
  }

  .top-line__item {
    display: none;
  }

  .top-line__item.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 5;
  }

  .top-line__body_list.active {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    z-index: 5;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    margin-top: 90px;
  }
  .top-line__body_list.active .top-line__items {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .first-screen {
    margin-top: 62px;
  }
}
@media (max-width: 1065px) {
  .top-line__headerBurger.active::before {
    height: 300px;
    width: 1100px;
  }

  .top-line__body_list.active {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-line__body_list.active .top-line__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 340px;
            flex: 0 0 340px;
    border: none;
  }
  .top-line__body_list.active .social-icon__item {
    border: none;
  }
}
@media (max-width: 660px) {
  .top-line__headerBurger.active::before {
    height: 1000px;
    width: 700px;
  }

  .top-line__body_list.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
  }
  .top-line__body_list.active .top-line__items {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .top-line__social_list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .lock {
    overflow: hidden;
  }
}