body, html {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
}

.wrapper {
  max-width: 1740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1295px;
  margin: 0 auto;
}

.top-line {
  background-color: color_1;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 90px;
          flex: 0 1 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.top-line .top-line__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #C4C4C4;
  height: 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.top-line .top-line__body .top-line__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 260px;
          flex: 0 1 260px;
  text-align: center;
  padding: 5px 27px;
}
.top-line .top-line__body .top-line__logo img {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 260px;
          flex: 0 1 260px;
}
.top-line .top-line__body .top-line__number {
  border-left: 1px solid #C4C4C4;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 185px;
          flex: 0 0 185px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 25px 0;
}
.top-line .top-line__body .top-line__saloons {
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 1px solid #C4C4C4;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 199px;
          flex: 0 0 199px;
  position: relative;
  padding: 25px 0;
  font-size: 16px;
  line-height: 18.83px;
}
.top-line .top-line__body .top-line__saloons .top-line__saloons_text {
  padding-left: 25px;
}
.top-line .top-line__body .top-line__saloons:after {
  content: "";
  position: absolute;
  top: 40px;
  right: 20px;
  background-color: #4FBFA5;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  z-index: 1;
}
.top-line .top-line__body .top-line__saloons .top-line__saloons_image {
  position: absolute;
  top: 40px;
  right: 26px;
  z-index: 2;
}
.top-line .top-line__body .top-line__button {
  border-left: 1px solid #C4C4C4;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 331px;
          flex: 0 0 331px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-line .top-line__body .top-line__button .top-line__button_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #00868A;
  width: 270px;
  height: 40px;
  color: #FFFFFF;
  margin: 29px auto 23px auto;
}
.top-line .top-line__body .top-line__button .top-line__button_item p {
  margin: 12px 20px 12px 0;
  line-height: 16.48px;
  font-size: 12px;
  text-transform: uppercase;
}
.top-line .top-line__body .top-line__button .top-line__button_item img {
  margin: 9px 5px 12px 15px;
}
.top-line .top-line__body .top-line__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 90px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.top-line .top-line__body .top-line__social-icon .social-icon__item {
  width: 80px;
  border-left: 1px solid #C4C4C4;
}
.top-line .top-line__body .top-line__social-icon .social-icon__item:last-child {
  border-right: 1px solid #C4C4C4;
}
.top-line .top-line__body .top-line__social-icon .social-icon__item img {
  margin: 35px 30px;
}

.first-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #4FBFA5;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 700px;
          flex: 0 1 700px;
}
.first-screen .first-screen__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 87px;
          flex: 0 1 87px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first-screen .navigation__panel_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.first-screen .navigation__panel_list li {
  list-style: none;
  margin: 15px 5px 15px 30px;
}
.first-screen .navigation__panel_list li a {
  text-decoration: none;
}
.first-screen .navigation__panel_link {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 150%;
}
.first-screen .navigation__panel_button {
  position: relative;
  top: 0px;
  right: 10px;
  max-width: 175px;
  max-height: 40px;
  background-color: #FFFFFF;
  text-align: center;
  padding: 10px 10px;
  cursor: pointer;
}
.first-screen .navigation__panel_button-link {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  margin: auto;
}
.first-screen .first-screen__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.first-screen .first-screen__discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 163px;
  left: 0px;
  max-width: 416px;
}
.first-screen .first-screen__discription .discription__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 266px;
          flex: 0 1 266px;
  color: #FFFFFF;
}
.first-screen .first-screen__discription .discription__header {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  font-size: 24px;
  line-height: 150%;
}
.first-screen .first-screen__discription .discription__text {
  font-size: 14px;
  line-height: 150%;
}
.first-screen .first-screen__discription .discription__button {
  background-color: #00868A;
  position: absolute;
  left: 0;
  top: 218px;
  max-height: 50px;
  width: 163px;
  cursor: pointer;
  text-align: center;
  padding: 15px 25px;
}
.first-screen .first-screen__discription .discription__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}
.first-screen .first-screen__slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 533px;
  text-decoration: none;
}
.first-screen .first-screen__slider .first-screen__slider_image {
  max-width: 746px;
  max-height: 533px;
  overflow: hidden;
}
.first-screen .first-screen__slider .first-screen__slider_image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.first-screen .first-screen__slider .slider__button {
  position: absolute;
  bottom: 40px;
  left: -145px;
}
.first-screen .first-screen__slider .slider__button-left, .first-screen .first-screen__slider .slider__button-right {
  display: inline-block;
  background-color: #4FBFA5;
  padding: 25px 25px;
  max-height: 50px;
  max-width: 60px;
  border: 1px solid #FFFFFF;
}
.first-screen .first-screen__footer {
  bottom: 0;
  max-height: 80px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
}
.first-screen .first-screen__footer .footer__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.first-screen .first-screen__footer .footer__text-complex {
  padding: 14px 0px;
  background-color: #00868A;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 648px;
          flex: 0 1 648px;
}
.first-screen .first-screen__footer .footer__text-center {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 324px;
          flex: 0 1 324px;
  padding: 14px 0px;
}
.first-screen .first-screen__footer .footer__text-vip-clients {
  background-color: #00868A;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 324px;
          flex: 0 1 324px;
  padding: 14px 0px;
}