$color_1: #FFFFFF;
$color_2: #C4C4C4;
$color_3: #4FBFA5;
$color_4: #00868A;
$color_5: #000000;
$color_6: #E5E5E5;

@mixin mainText ($weight) {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: $weight;
    letter-spacing: 0em;
}
@mixin topBorder {
    border-left: 1px solid $color_2;
}

// Variable and mixin

body, html {
    @include mainText (500);
}
.wrapper {
    max-width: 1740px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container {
    max-width: 1295px;
    margin: 0 auto;
}
.top-line {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;   
    }
    background-color: $color_1;
    .top-line__body {
        max-height: 90px;
    }
    .top-line__body_list {
        display: flex;
        justify-content: stretch;
        // justify-content: flex-start;
    }
    .top-line__items {
        @include topBorder;
        flex: 0 1 21%;
        display: flex;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        height: 90px;
        &:last-child {
            padding: 0;
        }
    }
    .top-line__items_logo {
        max-width: 240px;
    }
    .top-line__items_text {
        font-size: 16px;
        line-height: 19px;
        flex: 0 0 200px;
    }
    .top-line__items_sallons {
        flex: 0 0 210px;
        padding: 0;
    }
    .top-line__subItems {
        display: flex;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 15px;
            right: -5px;
            background-color: $color_3;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            z-index: 1;
        }
    }
    .top-line__saloons {
        display: flex;
        padding: 0 0 0 25px;
        align-items: center;
        img {
            height: 8px;
            width: 8px;
            z-index: 2;
        }
    }
    .top-line__items_button {
        max-width: 400px;
    }
    .top-line__button {
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: row-reverse;
        height: 40px;
        width: 270px;
        background-color: $color_4;
        padding: 0 15px;
        .top-line__button_text {
            padding-bottom: 3px;
            color: $color_1;
        }
    }
    .top-line__items_icons {
        max-width: 400px;
    }
    .top-line__social_list {
        height: 100%;
        display: flex;
        flex-basis: 80px;
        .social-icon__item  {
            height: 100%;
            flex: 0 0 75px;
            border-right: 1px solid $color_2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    } 
}           
.first-screen {
    display: flex;
    flex-direction: column;
    background-color: $color_3;
    flex: 0 1 700px;
    .first-screen__menu {
        display: flex;
        flex: 0 1 87px;
        justify-content: space-between;
        align-items: center;
    }
    .navigation__panel_list {
        display: flex;
        li {
            list-style: none;
            margin: 15px 5px 15px 30px;
            a {
               text-decoration: none; 
            }
        }
    }
    .navigation__panel_link {
        color: $color_1;
        font-size: 16px;
        line-height: 150%;
    }
    .navigation__panel_button {
        position: relative;
        top: 0px;
        right: 10px;
        max-width: 175px;
        max-height: 40px;
        background-color: $color_1;
        text-align: center;
        padding: 10px 10px;
        cursor: pointer;
    }
    .navigation__panel_button-link {
        color: $color_5;
        text-decoration: none;
        font-size: 16px;
        line-height: 21px;
        margin: auto;
    }
    .first-screen__body {
        position: relative;
        display: flex;
        flex: 0 1 auto;
        justify-content: space-between;
    }
    .first-screen__discription {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 163px;
        left: 0px;
        max-width: 416px;
        max-height: 266px;
        .discription__body {
            flex: 0 1 266px;
            color: $color_1;
            padding: 0 35px 0 0;
        }
        .discription__header {
            @include mainText (700);
            font-size: 24px;
            line-height: 150%;
        }
        .discription__text {
            font-size: 14px;
            line-height: 150%;
        }
        .discription__button {
            background-color: $color_4;
            position: absolute;
            left: 0;
            top: 218px;
            max-height: 50px;
            width: 163px;
            cursor: pointer;
            text-align: center;
            padding: 15px 25px;
        }
        .discription__link {
            text-decoration: none;
            text-transform: uppercase;
            color: $color_1;
        }   
    }
    .first-screen__slider {
        position: relative;
        display: flex;
        flex-direction: row;
        max-height: 533px;
        text-decoration: none;
        .first-screen__slider_image {
            max-width: 746px;
            max-height: 533px;
            overflow: hidden;
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        .slider__button {
            position: absolute;
            bottom: 40px;
            left: -145px;
        }
        .slider__button-left, .slider__button-right {
            display: inline-block;
            background-color: $color_3;
            padding: 25px 25px;
            max-height: 50px;
            max-width: 60px;
            border: 1px solid $color_1;
            position: relative;
            span {
                content: " ";
                height: 1px;
                width: 25px;
                background-color: $color_1;
                position: absolute;
                top: 24px;
                left: 13px;
            }
        }
        .slider__button-left {
            &:before {
            content: " ";
            height: 1px;
            width: 7px;
            background-color: $color_1;
            position: absolute;
            top: 26px;
            left: 12px;
            transform: rotate(45deg);
            }
            &:after {
                content: " ";
                height: 1px;
                width: 7px;
                background-color: $color_1;
                position: absolute;
                top: 22px;
                left: 12px;
                transform: rotate(-45deg);
            }
        }
        .slider__button-right {
            &:before {
            content: " ";
            height: 1px;
            width: 7px;
            background-color: $color_1;
            position: absolute;
            top: 26px;
            right: 11px;
            transform: rotate(-45deg);
            }
            &:after {
                content: " ";
                height: 1px;
                width: 7px;
                background-color: $color_1;
                position: absolute;
                top: 22px;
                right: 11px;
                transform: rotate(45deg);
            }
        }
    }
    .first-screen__footer {
        max-height: 80px;
        text-align: center;
        justify-content: center;
        color: $color_1;
        .footer__panel {
            display: flex;
            flex: 1 1 33.333%;
            height: 100%; 
        }
        .footer__text-complex {
            padding: 15px 0px;
            background-color: $color_4;
            flex: 1 1 auto;     
        }
        .footer__text-center {
            flex: 0 1 324px;
            padding: 15px 0px;
        }
        .footer__text-vip-clients {
            background-color: $color_4;
            flex: 0 1 324px;
            padding: 15px 0px; 
        }
    
    }
}
.innovations {
    background-color: $color_1;
    margin-top: 80px;
    .innovations__row {
        display: flex;
        justify-content: space-between;
    }
    .innovation__items_left {
        flex: 0 1 526px;
        max-height: 580px;
        background-color: $color_4;
        color: $color_1;
        .innovation__topLine_left {
            background-color: $color_3;
            max-height: 40px;
            max-width: 125px;
            margin: 35px 0 0 40px;
            padding: 11px 0;
            a {
                text-decoration: none;
            }
            .topLine__button_left {
                font-size: 16px;
                padding: 0px 15px;
                color: $color_1;
            }
        }
        .innovation__items_header {
            font-size: 30px;
            line-height: 45px;
            margin: 30px 0 0 40px;
        }
        .innovation__downLine_body {
            margin: 25px 0 0 40px;
            max-height: 40px;
            max-width: 170px;
            display: flex;
        }
        .downLine_button {
            display: inline-block;
            background-color: $color_4;
            padding: 19px 24px;
            max-height: 40px;
            max-width: 50px;
            border: 1px solid $color_1;
            position: relative;
            span {
                content: " ";
                height: 1px;
                width: 25px;
                background-color: $color_1;
                position: absolute;
                top: 19px;
                left: 13px;
            }
            &:before {
                content: " ";
                height: 1px;
                width: 7px;
                background-color: $color_1;
                position: absolute;
                top: 22px;
                right: 9px;
                transform: rotate(-45deg);
            }
            &:after {
                content: " ";
                height: 1px;
                width: 7px;
                background-color: $color_1;
                position: absolute;
                top: 17px;
                right: 9px;
                transform: rotate(45deg);
            }
        }
        .downLine_text {
            margin: 0;
            padding: 10px 20px;
            text-transform: uppercase; 
        }

        .innovation__downImage {
            max-width: 526px;
            margin-top: 45px;
            max-height: 230px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 0px -65px;
            }
        }
    }
    .innovation__items_right {
        flex: 0 1 636px;
        position: relative;
        .innovation__topLine_right {
            background-color: $color_3;
            max-height: 40px;
            max-width: 186px;
            margin: 30px 0 0 0px;
            padding: 11px 0;
            a {
                text-decoration: none;
            }
            .topLine__button_right {
                font-size: 16px;
                padding: 0px 15px;
                color: $color_1;
            }
        }
        .innovation__declaration {

            .declaration__list {
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;
                position: relative;
                z-index: 3;
                li {
                    list-style: none;
                }
                .declaration__list_item {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    margin-top: 35px;
                }
                .declaration__list_number {
                    max-height: 72px;
                    max-width: 50px;
                    font-size: 48px;
                    line-height: 72px;
                    color: $color_5;
                    opacity: 0.3;
                }
                .declaration__list_number_large {
                    font-size: 96px;
                    color: $color_4;
                    max-height: 144px;
                    max-width: 111px;
                    opacity: 1;
                }
                .declaration__list_item_text {
                    padding-left: 20px;
                    max-width: 164px;
                    max-height: 42px;
                    font-size: 14px;
                    line-height: 150%;
                    opacity: 0.3;
                }
                .declaration__list_item_text_large {
                    padding-left: 30px;
                    max-width: 319px;
                    max-height: 84px;
                    font-size: 24px;
                    line-height: 150%;
                    opacity: 1;
                }

            }
            
        }
    }
    .declaration__image {
        position: absolute;
        top: 86px;
        right: 21px;
        max-width: 306px;
        max-height: 400px;
        z-index: 1;
    }
}


// 
// .ideclaration__list_item {
// }
// .declaration__list_number_large {
// }
// .declaration__list_item_text_large {
// }
// .declaration__image {
// }