$color_1: #FFFFFF;
$color_2: #C4C4C4;
$color_3: #4FBFA5;
$color_4: #00868A;
$color_5: #000000;

@mixin mainText ($weight) {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: $weight;
    letter-spacing: 0em;
}
@mixin topBorder {
    border-left: 1px solid $color_2;
}
// Variable and mixin

body, html {
    @include mainText (500);
}
.wrapper {
    max-width: 1740px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container {
    max-width: 1295px;
    margin: 0 auto;
}
.top-line {
    background-color: color_1;
    display: flex;
    justify-content: center;
    .top-line__body {
        display: flex;
        width: 100%;
        @include topBorder;
        height: 90px;
        
        .top-line__body_list {
            margin: 0;
            padding: 0;
            display: flex;
            flex: 1 1 auto;
            flex-direction: row;
            height: 100%;
            li {
                list-style: none;
            }
            .top-line__items {
                align-items: center;
                justify-content: center;
                flex: 1 1 33.3333%;
            }
            .top-line__items_logo {   
                max-width: auto;
                text-align: center;  
                padding: 0 5px;
                img {
                    min-width: 40px;
                    height: 100%;
                    width: 100%;
                    object-fit: none;
                }
            } 
        }
        .top-line__number {
            @include topBorder; 
            flex: 0 1 150px;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            margin: 0 auto;
            // padding: 18px 10px 5px 10px;                
        }
        .top-line__saloons {
            text-align: left;
            justify-content: center;
            @include topBorder;
            flex: 0 0 180px;
            position: relative;
            padding: 18px 0px;
            font-size: 14px;
            line-height: 18.83px;
            .top-line__saloons_text {
                padding-left: 25px;
            }
            &:after {
                content: "";
                position: absolute;
                top: 33px;
                right: 25px;
                background-color: $color_3;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                z-index: 1;
            }
            .top-line__saloons_image {
                position: absolute;
                top: 34px;
                right: 31px;
                z-index: 2;
            }
        }
        .top-line__button {
            @include topBorder;
            flex: 0 1 331px;
            align-items: center;
        
            .top-line__button_item {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                background-color: $color_4;
                width: 270px;
                height: 40px;
                color: $color_1;
                margin: 27px 15px 20px 15px;
                p {
                    margin: 12px 20px 12px 0;
                    line-height: 16.48px;
                    font-size: 12px;
                    text-transform: uppercase;
                }
                img {
                    margin: 9px 5px 12px 15px;
                }
            }
        }
        .top-line__social_list {
            margin: 0;
            padding: 0;
            display: flex;
            flex: 0 1 100px;
            flex-direction: row;
            height: 100%;
            li {
                list-style: none;
            }
        }
        .social-icon__item {
            max-width: 80px;
            @include topBorder;
            &:last-child {
                border-right: 1px solid $color_2;
            }
            img {
                margin: 35px 30px;
            }
        }
        
    }
    
}
.first-screen {
    display: flex;
    flex-direction: column;
    background-color: $color_3;
    flex: 0 1 700px;
    .first-screen__menu {
        display: flex;
        flex: 0 1 87px;
        justify-content: space-between;
        align-items: center;
    }
    .navigation__panel_list {
        display: flex;
        li {
            list-style: none;
            margin: 15px 5px 15px 30px;
            a {
               text-decoration: none; 
            }
        }
    }
    .navigation__panel_link {
        color: $color_1;
        font-size: 16px;
        line-height: 150%;
    }
    .navigation__panel_button {
        position: relative;
        top: 0px;
        right: 10px;
        max-width: 175px;
        max-height: 40px;
        background-color: $color_1;
        text-align: center;
        padding: 10px 10px;
        cursor: pointer;
    }
    .navigation__panel_button-link {
        color: $color_5;
        text-decoration: none;
        font-size: 16px;
        line-height: 21px;
        margin: auto;
    }
    .first-screen__body {
        position: relative;
        display: flex;
        flex: 0 1 auto;
        justify-content: space-between;
    }
    .first-screen__discription {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 163px;
        left: 0px;
        max-width: 416px;
        .discription__body {
            flex: 0 1 266px;
            color: $color_1;
        }
        .discription__header {
            @include mainText (700);
            font-size: 24px;
            line-height: 150%;
        }
        .discription__text {
            font-size: 14px;
            line-height: 150%;
        }
        .discription__button {
            background-color: $color_4;
            position: absolute;
            left: 0;
            top: 218px;
            max-height: 50px;
            width: 163px;
            cursor: pointer;
            text-align: center;
            padding: 15px 25px;
        }
        .discription__link {
            text-decoration: none;
            text-transform: uppercase;
            color: $color_1;
        }   
    }
    .first-screen__slider {
        position: relative;
        display: flex;
        flex-direction: row;
        max-height: 533px;
        text-decoration: none;
        .first-screen__slider_image {
            max-width: 746px;
            max-height: 533px;
            overflow: hidden;
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        .slider__button {
            position: absolute;
            bottom: 40px;
            left: -145px;
        }
        .slider__button-left, .slider__button-right {
            display: inline-block;
            background-color: $color_3;
            padding: 25px 25px;
            max-height: 50px;
            max-width: 60px;
            border: 1px solid $color_1;
        }
    }
    .first-screen__footer {
        max-height: 80px;
        text-align: center;
        justify-content: center;
        color: $color_1;
        .footer__panel {
            display: flex;
            height: 100%; 
        }
        .footer__text-complex {
            padding: 14px 0px;
            background-color: $color_4;
            flex: 0 1 648px;     
        }
        .footer__text-center {
            flex: 0 1 324px;
            padding: 14px 0px;
        }
        .footer__text-vip-clients {
            background-color: $color_4;
            flex: 0 1 324px;
            padding: 14px 0px; 
        }
    
    }

}